extends layouts/main

include mixins/spacer
include mixins/text
include mixins/img

block content
  include elements/header-img
  tr
    +spacer(14)
  +text
    td.main-title
      span.main-title Hello Buckley,

  +text
    td.main-text.main-text--green
      span.main-text.main-text--green.
        time flies and soon we will celebrate a New Year and are looking forward to working on new plans and accomplishing lofty goals.
  tr
    +spacer(14)

  +img
    +spacer(5)
    td.main-img(width="100%")
      img.main-img(width="100%" src="https://rademade.com/email-imgs/snow-1.png")
    +spacer(5)

  tr
    td.rademade-background(width="100%" style="width: 100%")
      table.main-table(width="100%" style="width: 100%" bgcolor="transparent" border="0" cellspacing="0" cellpadding="0")
        tr
          td
            table.main-table(width="100%" style="width: 100%" bgcolor="transparent" border="0" cellspacing="0" cellpadding="0")
              tr
                +spacer(15)
              +text
                td.main-text
                  span.main-text.
                    The New Year is a great time to reflect and look back on what has happened and look forward for what’s to come.
              tr
                +spacer(15)
              +img
                +spacer(5)
                td.main-img(width="100%")
                  img(width="100%" src="https://rademade.com/email-imgs/snow-2.png")
                +spacer(5)
              tr
                +spacer(15)

              +text
                td.main-text
                  span.main-text
                    | For Rademade it was a year of changes.  In 2019 we became, bigger,
                    | faster and more powerful. We became a group of companies&nbsp;
                    a.main-link(href="https://iternal.group/" target="_blank") ITernal Group
                    | &nbsp;that offers not only on software development but also M&A,
                    | R&D and Real estate. In a nutshell, we are capable to open R&D centres in Ukraine,
                    | using our recruitment resources and own schools/universities.

              tr
                +spacer(15)

              +img
                +spacer(5)
                td.main-img(width="100%")
                  img.main-img(width="100%" src="https://rademade.com/email-imgs/snow-3.png")
                +spacer(5)

              tr
                +spacer(15)
  tr
    +spacer(14)

  +text
    td.main-text.main-text--dark
      span.main-text.main-text--dark
        | Please&nbsp;
        a.main-link(href="https://ufuture.com/the-joint-company-of-ufuture-and-insoft-partners-has-announced-rebranding-and-invested-in-two-it-businesses/" target="_blank") read this article
        | &nbsp;for the full story and don’t hesitate to contact us in case
        | of any questions. We are very excited about our new capabilities
        | and what this means for our clients and partners.
  tr
    +spacer(14)

  +img
    td.main-img(width="100%" valign="middle" align="center")
      img.main-img(width="100%" src="https://rademade.com/email-imgs/snow-4.png")

  +text('#141A33')
    td.main-text.main-text--large.main-text--green(width="100%")
      span.main-text.main-text--large.main-text--green Thank you for being with us this year,
    +spacer(100, 'mobile-hide_mod')

  +img
    td.main-img(width="100%" valign="top")
      img.main-img(width="100%" src="https://rademade.com/email-imgs/snow-5.png" align="absbottom")

  tr
    +spacer(14)

  +text
    td.main-text
      span.main-text.main-text--green.
        we truly appreciate having you in our community.
        We hope that your life will be filled with happiness, positive achievements and prosperity in the next year. We look forward to continue being your trusted partners in innovation and success.
  tr
    +spacer(14)
  +img
    td.main-img(width="100%")
      img.main-img(width="100%" src="https://rademade.com/email-imgs/snow-6.png")

  +text
    td.main-text
      span.main-text.main-text--medium.
        Please share with us your greatest accomplishments of 2019? What plans do you have for 2020?

  +img
    td.main-img(width="100%")
      img.main-img(width="100%" src="https://rademade.com/email-imgs/footer.png")

  tr
    +spacer(15)
