tr
  td(width="100%" style="width: 100%")
    table.main-table(width="100%" style="width: 100%")
      tr
        td.main-img
          img.main-img(src="https://rademade.com/email-imgs/head.png" width="100%")
